@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* ================ Colors ================ */
  --clr-red: #fe2d55;
  --clr-green: #2BC990;
  --clr-blue: #017afe;
  --clr-cyan: #2fb0c8;
  --clr-lavender: #5856d6;
  --clr-white: #fafafa;
  --clr-off-white: #e8e8e8;
  --clr-black: #212121;
  --clr-gray: #727272;

  /* ================ Font size (fz) and font family (fm) ================ */
  --fz-title: 6.5536rem;
  --fz-h1: 4.096rem;
  --fz-h2: 2.56rem;
  --fz-h3: 1.6rem;
  --fz-pa: 1rem;

  --ff-content: "Raleway", sans-serif;
  --ff-display: "Hepta Slab", serif;

  /* ================ z index ================ */
  --z-fixed: 100;
  --z-back: 0;
  --z-backward: 5;
  --z-forward: 10;
  --z-front: 100;

  /* ================ Font weights ================ */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}

/* ================ BASE CSS ================ */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 0;
  /* width: 100%; */
  /* height: 100%; */
}

body {
  font-family: var(--ff-content);
  font-size: var(--fz-pa);
  font-weight: var(--fw-regular);

  background-color: var(--clr-black);
  background: linear-gradient(45deg,  #544E94,#92DDC2);
  color: var(--clr-black);
  text-rendering: optimizeSpeed;

  max-width: 100vw;
  height: 100vh;
  overflow: hidden;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* transition: all 0.3s ease;  */
  /* border: 3px dotted red; */
}
div,form,ul,li{
  width: 100%;
  height: max-content;
}


/* ================ UTILITY CLASSES ================ */
.flex-col-center-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flex-row-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* ================ MAIN CSS ================ */
section.pseudo-screen {
  border: 1px solid white;
  border-radius: 30px;
  padding: 20px;

  width: 375px;
  height: 667px;
  background-color: #0A0171;
  background-color: rgba(255, 255, 255, 0.1); 
  /* background-color: rgba(0, 0, 0, 0.2); */
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(30px) ;
  
  
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
  /* box-shadow: 30px 30px 35px #0A017170; */
  /* box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1); */

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}

div.screen-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: var(--z-fixed);
  /* border: 1px solid red; */
}

.left-infos{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;


  /* border: 1px solid red; */
}
.right-infos{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;

  /* border: 1px solid red; */
}
